body {

    font-family: 'Dela Gothic One', sans-serif;
    padding: 20px;
   
}

header {


    border-radius: 10px;
    width: max-content;

}

.header-info {

    border-left: 10px black solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
    
}

#logo {

    text-decoration: none;
    color: black;
    font-size: 2em;
    display: flex;
    align-items: center;
}

#logo img {

    width: 35px;
    margin-right: 10px;
}

#portal-name {

    text-decoration: none;
    color: #32bd49;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(220, 220, 220);
}

#portal-name img {

    width: 25px;
    margin-right: 5px;

}

.htu {

    border: 1px solid rgb(220, 220, 220);
    border-left: 10px black solid;
    border-radius: 5px;
    padding-left: 10px;   
    display: flex;
    align-items: center;
    padding: 5px;
    
}

.htu img{

    width: 25px;
    margin-right: 5px;

}

#content {

display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: auto;
margin-top: 50px;
gap: 20px;

}

.link-card {

width: 200px;
gap: 20px;
text-align: center;
border: 1px solid rgb(220, 220, 220);
border-left: 15px solid #32bd49;
border-radius: 5px;
color: black;
padding: 10px;
display: flex;
align-items: center;
justify-content: space-around;
text-decoration: none;


}

.link-card:hover {

    border-left: 15px solid black;
    transition-duration: 0.2s;


    }

.link-card img {

    width: 50px;
    

}